@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<address>
    <strong>Twitter:</strong> <a href="https://twitter.com/koudenpa">@@koudenpa</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/7474/megami-manager">megami-manager</a>
</address>
