@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-3">Megami Manager</h1>
    <p class="lead">メガミデバイスのメガミのデータを登録してニヤニヤするためのサイトです。</p>
</div>

<div>
    XXX 新着辺りを並べる
</div>

<div>
    XXX 履歴辺りを並べる
</div>