@model MegamiManager.Models.MegamiModels.Team

@{
    ViewData["Title"] = "Delete Team";
}

<h2>Delete Team</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>

<div class="btn-group" role="group">
    <a asp-action="MyIndex" class="btn btn-default">My Team</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>