@model MegamiManager.Models.MegamiModels.Megami

@{
    ViewData["Title"] = "Create Megami";
}

<h2>Create Megami</h2>

<div class="row">
    <div class="col-md-6">
        <div class="container">
            <form asp-action="Create" id="chart-input-form">
                <div class="form-horizontal">
                    @Html.Partial("_MegamiInputItems.cshtml")
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        @Html.Partial("_Chart.cshtml")
    </div>
</div>

<div class="btn-group" role="group">
    <a asp-action="MyIndex" class="btn btn-default">My Megami</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
