@model MegamiManager.Models.MegamiModels.Megami

@{
    ViewData["Title"] = Model.Name;
}

<div class="megami-detail-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.Partial("_MegamiImage.cshtml")
                <form id="chart-input-form">
                    <input asp-for="CloseRangeBattle" type="hidden" class="chart-input-params" />
                    <input asp-for="MidRangeBattle" type="hidden" class="chart-input-params" />
                    <input asp-for="LongRangeBattle" type="hidden" class="chart-input-params" />
                    <input asp-for="ArmorDefense" type="hidden" class="chart-input-params" />
                    <input asp-for="Weight" type="hidden" class="chart-input-params" />
                    <input asp-for="ActiveTime" type="hidden" class="chart-input-params" />
                    <input asp-for="Stealth" type="hidden" class="chart-input-params" />
                    <input asp-for="Recon" type="hidden" class="chart-input-params" />
                    <input asp-for="AerialMobility" type="hidden" class="chart-input-params" />
                    <input asp-for="GroundMobility" type="hidden" class="chart-input-params" />
                </form>
            </div>
            <div style="margin-top: 1em; margin-bottom: 1em;">
                @Html.Partial("_Chart.cshtml")
            </div>
        </div>
        <div class="col-md-6">
            @Html.Partial("_MegamiDetail.cshtml")
        </div>
    </div>
</div>

<div class="btn-group" role="group">
    <a asp-action="MyIndex" class="btn btn-default">My Megami</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>