@model IEnumerable<MegamiManager.Models.MegamiModels.Megami>

@{
    ViewData["Title"] = "Megami Index";
}

<h2>Megami Index</h2>

<div class="btn-group" role="group">
    <a asp-action="MyIndex" class="btn btn-default">My Megami</a>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</div>

@*XXX Pagenate*@
@foreach (var item in Model)
{
    @Html.Partial("_MegamiSummary.cshtml", item)
}
