@model IEnumerable<MegamiManager.Models.MegamiModels.Megami>

@{
    ViewData["Title"] = "My Megami";
}

<h2>My Megami</h2>

<div class="btn-group" role="group">
    <a asp-action="Create" class="btn btn-default">Create New</a>
</div>

@foreach (var item in Model)
{
    @Html.Partial("_MegamiSummary.cshtml", item)
}
